{% extends 'base.html.twig' %}

{% block body %}
  <div id="public-watch-root"
       data-props='{{ props|json_encode|raw }}'></div>
{% endblock %}

{% block styles %}
  {{ parent() }}
  {{ encore_entry_link_tags('public_watch') }}
{% endblock %}

{% block scripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('public_watch') }}
{% endblock %}
